In [1]:
import pickle

In [2]:
a = (1,2)

In [4]:
type(a)

tuple

In [5]:
b = [1,2]

In [6]:
type(b)

list

In [7]:
%%writefile jamesbond.txt
1234567
3445
(1,2)
[1,2]

Writing jamesbond.txt

In [8]:
a = open('jamesbond.txt')

In [9]:
print(dir(a))

['_CHUNK_SIZE', '__class__', '__del__', '__delattr__', '__dict__', '__dir__', '__doc__', '__enter__', '__eq__', '__exit__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__lt__', '__ne__', '__new__', '__next__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '_checkClosed', '_checkReadable', '_checkSeekable', '_checkWritable', '_finalizing', 'buffer', 'close', 'closed', 'detach', 'encoding', 'errors', 'fileno', 'flush', 'isatty', 'line_buffering', 'mode', 'name', 'newlines', 'read', 'readable', 'readline', 'readlines', 'reconfigure', 'seek', 'seekable', 'tell', 'truncate', 'writable', 'write', 'write_through', 'writelines']

In [10]:
b = a.readlines()

In [12]:
#아스키코드 알아보기
b

['1234567\n', '3445\n', '(1,2)\n', '[1,2]\n']

In [17]:
a.close() #파일을 열면 꼭 닫아주어야함

In [14]:
#b가 리스트므로 루프로 던질수 있다.
for xx in b:
    print(type(xx))
    print(xx)

<class 'str'>
1234567

<class 'str'>
3445

<class 'str'>
(1,2)

<class 'str'>
[1,2]

In [16]:
#위에서 숫자 리스트, 튜플등을 집어넣었지만 나오는 타입은 모두 str이 됨

In [15]:
#피클은 ML/DL 의 모델을 만들때 사용된다.

In [18]:
a = [1,2,3]
b = (3,4,5)
with open('hanju.pik', 'wb') as f:
    pickle.dump(a,f)
    pickle.dump(b,f)

In [19]:
a, type(a)

([1, 2, 3], list)

In [20]:
b, type(b)

((3, 4, 5), tuple)

In [21]:
with open('hanju.pik', 'rb') as f:
    x = pickle.load(f)
    y = pickle.load(f)

In [24]:
x, type(x)

([1, 2, 3], list)

In [25]:
y, type(y)

((3, 4, 5), tuple)

In [26]:
import numpy as np

In [27]:
x = np.array([1,2,3])

In [28]:
x

array([1, 2, 3])

In [29]:
#넘파이에서도 피클형식으로 저장할 수 있게끔 지원해줌
np.save('numpystyle.npy', x)

In [30]:
test = np.load('numpystyle.npy', allow_pickle=True)

In [31]:
type(test)

numpy.ndarray

In [32]:
#피클이라고 말은 안하지만 내부적으로는 피클로 처리

In [ ]:
!conda remove bottleneck
!conda install bottleneck

!conda update bottleneck
!conda update pandas

In [1]:
import pandas as pd

In [2]:
iris = pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data')

In [4]:
# info 결측지확인 - describe확인 - corr

In [5]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   5.1          149 non-null    float64
 1   3.5          149 non-null    float64
 2   1.4          149 non-null    float64
 3   0.2          149 non-null    float64
 4   Iris-setosa  149 non-null    object
dtypes: float64(4), object(1)
memory usage: 5.9+ KB

In [6]:
iris.describe()

              5.1         3.5         1.4         0.2
count  149.000000  149.000000  149.000000  149.000000
mean     5.848322    3.051007    3.774497    1.205369
std      0.828594    0.433499    1.759651    0.761292
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.400000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

In [7]:
iris.corr()

          5.1       3.5       1.4       0.2
5.1  1.000000 -0.103784  0.871283  0.816971
3.5 -0.103784  1.000000 -0.415218 -0.350733
1.4  0.871283 -0.415218  1.000000  0.962314
0.2  0.816971 -0.350733  0.962314  1.000000

In [8]:
#숙제
#min, max, argmin, argmax, sum, mean, median
#axis, sort
#var, std
#exp, sqrt, sin,cos
#dos