In [15]:
import seaborn as sns

tips = sns.load_dataset('tips')

In [16]:
tips.sample(10)

     total_bill   tip     sex smoker   day    time  size
217       11.59  1.50    Male    Yes   Sat  Dinner     2
122       14.26  2.50    Male     No  Thur   Lunch     2
61        13.81  2.00    Male    Yes   Sat  Dinner     2
173       31.85  3.18    Male    Yes   Sun  Dinner     2
207       38.73  3.00    Male    Yes   Sat  Dinner     4
37        16.93  3.07  Female     No   Sat  Dinner     3
103       22.42  3.48  Female    Yes   Sat  Dinner     2
91        22.49  3.50    Male     No   Fri  Dinner     2
94        22.75  3.25  Female     No   Fri  Dinner     2
187       30.46  2.00    Male    Yes   Sun  Dinner     5

In [17]:
tips = tips[['total_bill', 'sex', 'smoker', 'day', 'time', 'size', 'tip']]

In [18]:
tips.sample(10)

     total_bill     sex smoker   day    time  size   tip
128       11.38  Female     No  Thur   Lunch     2  2.00
44        30.40    Male     No   Sun  Dinner     4  5.60
32        15.06  Female     No   Sat  Dinner     2  3.00
28        21.70    Male     No   Sat  Dinner     2  4.30
129       22.82    Male     No  Thur   Lunch     3  2.18
122       14.26    Male     No  Thur   Lunch     2  2.50
150       14.07    Male     No   Sun  Dinner     2  2.50
175       32.90    Male    Yes   Sun  Dinner     2  3.11
34        17.78    Male     No   Sat  Dinner     2  3.27
20        17.92    Male     No   Sat  Dinner     2  4.08

In [19]:
tips.sex = tips.sex.map({'Female' : 0, 'Male' : 1})

In [20]:
tips.head(5)

   total_bill sex smoker  day    time  size   tip
0       16.99   0     No  Sun  Dinner     2  1.01
1       10.34   1     No  Sun  Dinner     3  1.66
2       21.01   1     No  Sun  Dinner     3  3.50
3       23.68   1     No  Sun  Dinner     2  3.31
4       24.59   0     No  Sun  Dinner     4  3.61

In [21]:
tips.smoker = tips.smoker.map({'No' : 0, 'Yes' : 1})

In [22]:
tips.head(5)

   total_bill sex smoker  day    time  size   tip
0       16.99   0      0  Sun  Dinner     2  1.01
1       10.34   1      0  Sun  Dinner     3  1.66
2       21.01   1      0  Sun  Dinner     3  3.50
3       23.68   1      0  Sun  Dinner     2  3.31
4       24.59   0      0  Sun  Dinner     4  3.61

In [24]:
tips.day.values
#안에들어있는 값 종류를 보고싶을때 사용

['Sun', 'Sun', 'Sun', 'Sun', 'Sun', ..., 'Sat', 'Sat', 'Sat', 'Sat', 'Thur']
Length: 244
Categories (4, object): ['Thur', 'Fri', 'Sat', 'Sun']

In [25]:
print(dir(tips.day))

['T', '_AXIS_LEN', '_AXIS_NAMES', '_AXIS_NUMBERS', '_AXIS_ORDERS', '_AXIS_REVERSED', '_AXIS_TO_AXIS_NUMBER', '_HANDLED_TYPES', '__abs__', '__add__', '__and__', '__annotations__', '__array__', '__array_priority__', '__array_ufunc__', '__array_wrap__', '__bool__', '__class__', '__contains__', '__copy__', '__deepcopy__', '__delattr__', '__delitem__', '__dict__', '__dir__', '__div__', '__divmod__', '__doc__', '__eq__', '__finalize__', '__float__', '__floordiv__', '__format__', '__ge__', '__getattr__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__iand__', '__ifloordiv__', '__imod__', '__imul__', '__init__', '__init_subclass__', '__int__', '__invert__', '__ior__', '__ipow__', '__isub__', '__iter__', '__itruediv__', '__ixor__', '__le__', '__len__', '__long__', '__lt__', '__matmul__', '__mod__', '__module__', '__mul__', '__ne__', '__neg__', '__new__', '__nonzero__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdiv__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rmatmul__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__setitem__', '__setstate__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__weakref__', '__xor__', '_accessors', '_add_numeric_operations', '_add_series_or_dataframe_operations', '_agg_by_level', '_agg_examples_doc', '_agg_see_also_doc', '_aggregate', '_aggregate_multiple_funcs', '_align_frame', '_align_series', '_binop', '_builtin_table', '_can_hold_na', '_check_inplace_setting', '_check_is_chained_assignment_possible', '_check_label_or_level_ambiguity', '_check_setitem_copy', '_clear_item_cache', '_clip_with_one_bound', '_clip_with_scalar', '_consolidate', '_consolidate_inplace', '_construct_axes_dict', '_construct_axes_from_arguments', '_construct_result', '_constructor', '_constructor_expanddim', '_constructor_sliced', '_convert', '_convert_dtypes', '_cython_table', '_data', '_deprecations', '_dir_additions', '_dir_deletions', '_drop_axis', '_drop_labels_or_levels', '_find_valid_index', '_get_axis', '_get_axis_name', '_get_axis_number', '_get_axis_resolvers', '_get_block_manager_axis', '_get_bool_data', '_get_cacher', '_get_cleaned_column_resolvers', '_get_cython_func', '_get_index_resolvers', '_get_item_cache', '_get_label_or_level_values', '_get_numeric_data', '_get_value', '_get_values', '_get_values_tuple', '_get_with', '_gotitem', '_index', '_indexed_same', '_info_axis', '_info_axis_name', '_info_axis_number', '_init_dict', '_init_mgr', '_internal_names', '_internal_names_set', '_is_builtin_func', '_is_cached', '_is_copy', '_is_label_or_level_reference', '_is_label_reference', '_is_level_reference', '_is_mixed_type', '_is_view', '_iset_item', '_ix', '_ixs', '_map_values', '_maybe_cache_changed', '_maybe_update_cacher', '_metadata', '_needs_reindex_multi', '_obj_with_exclusions', '_protect_consolidate', '_reduce', '_reindex_axes', '_reindex_indexer', '_reindex_multi', '_reindex_with_indexers', '_repr_data_resource_', '_repr_latex_', '_reset_cache', '_reset_cacher', '_selected_obj', '_selection', '_selection_list', '_selection_name', '_set_as_cached', '_set_axis', '_set_axis_name', '_set_is_copy', '_set_item', '_set_name', '_set_value', '_set_with', '_set_with_engine', '_slice', '_stat_axis', '_stat_axis_name', '_stat_axis_number', '_take_with_is_copy', '_to_dict_of_blocks', '_try_aggregate_string_function', '_typ', '_update_inplace', '_validate_dtype', '_values', '_where', 'abs', 'add', 'add_prefix', 'add_suffix', 'agg', 'aggregate', 'align', 'all', 'any', 'append', 'apply', 'argmax', 'argmin', 'argsort', 'array', 'asfreq', 'asof', 'astype', 'at', 'at_time', 'attrs', 'autocorr', 'axes', 'backfill', 'between', 'between_time', 'bfill', 'bool', 'cat', 'clip', 'combine', 'combine_first', 'compare', 'convert_dtypes', 'copy', 'corr', 'count', 'cov', 'cummax', 'cummin', 'cumprod', 'cumsum', 'describe', 'diff', 'div', 'divide', 'divmod', 'dot', 'drop', 'drop_duplicates', 'droplevel', 'dropna', 'dtype', 'dtypes', 'duplicated', 'empty', 'eq', 'equals', 'ewm', 'expanding', 'explode', 'factorize', 'ffill', 'fillna', 'filter', 'first', 'first_valid_index', 'floordiv', 'ge', 'get', 'groupby', 'gt', 'hasnans', 'head', 'hist', 'iat', 'idxmax', 'idxmin', 'iloc', 'index', 'infer_objects', 'interpolate', 'is_monotonic', 'is_monotonic_decreasing', 'is_monotonic_increasing', 'is_unique', 'isin', 'isna', 'isnull', 'item', 'items', 'iteritems', 'keys', 'kurt', 'kurtosis', 'last', 'last_valid_index', 'le', 'loc', 'lt', 'mad', 'map', 'mask', 'max', 'mean', 'median', 'memory_usage', 'min', 'mod', 'mode', 'mul', 'multiply', 'name', 'nbytes', 'ndim', 'ne', 'nlargest', 'notna', 'notnull', 'nsmallest', 'nunique', 'pad', 'pct_change', 'pipe', 'plot', 'pop', 'pow', 'prod', 'product', 'quantile', 'radd', 'rank', 'ravel', 'rdiv', 'rdivmod', 'reindex', 'reindex_like', 'rename', 'rename_axis', 'reorder_levels', 'repeat', 'replace', 'resample', 'reset_index', 'rfloordiv', 'rmod', 'rmul', 'rolling', 'round', 'rpow', 'rsub', 'rtruediv', 'sample', 'searchsorted', 'sem', 'set_axis', 'shape', 'shift', 'size', 'skew', 'slice_shift', 'sort_index', 'sort_values', 'squeeze', 'std', 'str', 'sub', 'subtract', 'sum', 'swapaxes', 'swaplevel', 'tail', 'take', 'to_clipboard', 'to_csv', 'to_dict', 'to_excel', 'to_frame', 'to_hdf', 'to_json', 'to_latex', 'to_list', 'to_markdown', 'to_numpy', 'to_period', 'to_pickle', 'to_sql', 'to_string', 'to_timestamp', 'to_xarray', 'transform', 'transpose', 'truediv', 'truncate', 'tz_convert', 'tz_localize', 'unique', 'unstack', 'update', 'value_counts', 'values', 'var', 'view', 'where', 'xs']

In [28]:
tips.day.unique()
#unique를 사용해서 똑같이 카테고리를 볼 수 있음
#이것을 통해 아이템의 개수만큼 인코딩을 할 수 있음

['Sun', 'Sat', 'Thur', 'Fri']
Categories (4, object): ['Sun', 'Sat', 'Thur', 'Fri']

In [29]:
tips.day = tips.day.map({'Thur': 0, 'Fri' : 1, 'Sat' : 2, 'Sun' : 3})

In [30]:
tips.head(5)

   total_bill sex smoker day    time  size   tip
0       16.99   0      0   3  Dinner     2  1.01
1       10.34   1      0   3  Dinner     3  1.66
2       21.01   1      0   3  Dinner     3  3.50
3       23.68   1      0   3  Dinner     2  3.31
4       24.59   0      0   3  Dinner     4  3.61

In [31]:
tips.time.unique()

['Dinner', 'Lunch']
Categories (2, object): ['Dinner', 'Lunch']

In [32]:
tips.time = tips.time.map({'Dinner' : 0, 'Lunch' : 1})

In [33]:
tips.head(5)

   total_bill sex smoker day time  size   tip
0       16.99   0      0   3    0     2  1.01
1       10.34   1      0   3    0     3  1.66
2       21.01   1      0   3    0     3  3.50
3       23.68   1      0   3    0     2  3.31
4       24.59   0      0   3    0     4  3.61

In [47]:
X = tips.iloc[: , 0:-1]
# 다른방법
#X = tips[['total_bill', 'sex', 'smoker', 'day', 'time', 'size']]

In [44]:
X

     total_bill sex smoker day time  size
0         16.99   0      0   3    0     2
1         10.34   1      0   3    0     3
2         21.01   1      0   3    0     3
3         23.68   1      0   3    0     2
4         24.59   0      0   3    0     4
..          ...  ..    ...  ..  ...   ...
239       29.03   1      0   2    0     3
240       27.18   0      1   2    0     2
241       22.67   1      1   2    0     2
242       17.82   1      0   2    0     2
243       18.78   0      0   0    0     2

[244 rows x 6 columns]

In [50]:
y = tips.iloc[: , -1]
#다른방법
#y = tips.tip

#y = tips['tip']
#y=tips.loc[:, 'tip']

In [49]:
y

0      1.01
1      1.66
2      3.50
3      3.31
4      3.61
       ...
239    5.92
240    2.00
241    2.00
242    1.75
243    3.00
Name: tip, Length: 244, dtype: float64

In [51]:
from sklearn.model_selection import train_test_split

In [63]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.1, random_state=42)

In [64]:
X_test

     total_bill sex smoker day time  size
24        19.82   1      0   2    0     2
6          8.77   1      0   3    0     2
153       24.55   1      0   3    0     4
211       25.89   1      1   2    0     4
198       13.00   0      1   0    1     2
176       17.89   1      1   3    0     2
192       28.44   1      1   0    1     2
124       12.48   0      0   0    1     2
9         14.78   1      0   3    0     2
101       15.38   0      1   1    0     2
45        18.29   1      0   3    0     2
233       10.77   1      0   2    0     2
117       10.65   0      0   0    1     2
177       14.48   1      1   3    0     2
82        10.07   0      0   0    1     1
146       18.64   0      0   0    1     3
200       18.71   1      1   0    1     3
15        21.58   1      0   3    0     2
66        16.45   0      0   2    0     2
142       41.19   1      0   0    1     5
33        20.69   0      0   2    0     4
19        20.65   1      0   2    0     3
109       14.31   0      1   2    0     2
30         9.55   1      0   2    0     2
186       20.90   0      1   3    0     3

In [65]:
from sklearn.linear_model import LinearRegression

In [66]:
LRmodel = LinearRegression()

In [67]:
LRmodel.fit(X_train, y_train)

LinearRegression()

In [68]:
LRmodel.coef_

array([ 0.09550214, -0.03362552, -0.13222161,  0.06227951,  0.18919787,
        0.18182045])

In [69]:
LRmodel.intercept_

0.5592726729388318

In [70]:
tips.sample(1)

     total_bill sex smoker day time  size  tip
137       14.15   0      0   0    1     2  2.0

In [62]:
LRmodel.score(X, y)

0.46383156086801314

In [71]:
from sklearn.model_selection import cross_val_score

In [72]:
cvs = cross_val_score(LRmodel, X, y, verbose=2, cv=10)

[CV]  ................................................................
[CV] ................................................. , total=   0.0s
[CV]  ................................................................
[CV] ................................................. , total=   0.0s
[CV]  ................................................................
[CV] ................................................. , total=   0.0s
[CV]  ................................................................
[CV] ................................................. , total=   0.0s
[CV]  ................................................................
[CV] ................................................. , total=   0.0s
[CV]  ................................................................
[CV] ................................................. , total=   0.0s
[CV]  ................................................................
[CV] ................................................. , total=   0.0s
[CV]  ................................................................
[CV] ................................................. , total=   0.0s
[CV]  ................................................................
[CV] ................................................. , total=   0.0s
[CV]  ................................................................
[CV] ................................................. , total=   0.0s

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  10 out of  10 | elapsed:    0.0s finished

In [74]:
tips.sample(1)

     total_bill sex smoker day time  size  tip
212       48.33   1      0   2    0     4  9.0

In [75]:
cvs.mean()

0.33307319142248826

In [77]:
LRmodel.predict([[18,1,0,2,0,3]])

array([2.914706])

In [79]:
LRmodel.predict([[40,0,0,1,1,5]])

array([5.53993782])