In [1]:
from sklearn.compose import make_column_transformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import cross_val_score
import pandas as pd

In [3]:
data = pd.read_csv('./실습데이터/weather_nominal.csv', sep=',')

In [4]:
data.head()

    outlook temperature humidity  windy play
0     rainy         hot     high  False   no
1     rainy         hot     high   True   no
2  overcast         hot     high  False  yes
3     sunny        mild     high  False  yes
4     sunny        cool   normal  False  yes

In [5]:
X=data.iloc[:,0:4]
y=data.play.map({'no':0, 'yes':1})

In [8]:
X

     outlook temperature humidity  windy
0      rainy         hot     high  False
1      rainy         hot     high   True
2   overcast         hot     high  False
3      sunny        mild     high  False
4      sunny        cool   normal  False
5      sunny        cool   normal   True
6   overcast        cool   normal   True
7      rainy        mild     high  False
8      rainy        cool   normal  False
9      sunny        mild   normal  False
10     rainy        mild   normal   True
11  overcast        mild     high   True
12  overcast         hot   normal  False
13     sunny        mild     high   True

In [9]:
X.sample(1)

    outlook temperature humidity  windy
2  overcast         hot     high  False

In [12]:
column_trans = make_column_transformer((OneHotEncoder(), ['outlook','temperature','humidity','windy']),\
                       remainder='passthrough')

In [13]:
column_trans.fit_transform(X)

array([[0., 1., 0., 0., 1., 0., 1., 0., 1., 0.],
       [0., 1., 0., 0., 1., 0., 1., 0., 0., 1.],
       [1., 0., 0., 0., 1., 0., 1., 0., 1., 0.],
       [0., 0., 1., 0., 0., 1., 1., 0., 1., 0.],
       [0., 0., 1., 1., 0., 0., 0., 1., 1., 0.],
       [0., 0., 1., 1., 0., 0., 0., 1., 0., 1.],
       [1., 0., 0., 1., 0., 0., 0., 1., 0., 1.],
       [0., 1., 0., 0., 0., 1., 1., 0., 1., 0.],
       [0., 1., 0., 1., 0., 0., 0., 1., 1., 0.],
       [0., 0., 1., 0., 0., 1., 0., 1., 1., 0.],
       [0., 1., 0., 0., 0., 1., 0., 1., 0., 1.],
       [1., 0., 0., 0., 0., 1., 1., 0., 0., 1.],
       [1., 0., 0., 0., 1., 0., 0., 1., 1., 0.],
       [0., 0., 1., 0., 0., 1., 1., 0., 0., 1.]])

In [14]:
#외울것 column = feature = 차원
len(X)

14

In [15]:
from sklearn.tree import DecisionTreeClassifier
tree = DecisionTreeClassifier()

In [18]:
pipe = make_pipeline(column_trans, tree)

In [19]:
pipe.fit(X,y)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(),
                                                  ['outlook', 'temperature',
                                                   'humidity', 'windy'])])),
                ('decisiontreeclassifier', DecisionTreeClassifier())])

In [20]:
pipe.score(X,y)

1.0

In [26]:
cross_val_score(pipe, X, y, cv=5, scoring='accuracy').mean()

0.7

In [29]:
X_test = X.sample(5)

In [30]:
X.sample(5)

    outlook temperature humidity  windy
9     sunny        mild   normal  False
6  overcast        cool   normal   True
0     rainy         hot     high  False
3     sunny        mild     high  False
8     rainy        cool   normal  False

In [31]:
pipe.predict(X_test)

array([1, 1, 1, 1, 1], dtype=int64)

In [32]:
X_test

     outlook temperature humidity  windy
11  overcast        mild     high   True
12  overcast         hot   normal  False
8      rainy        cool   normal  False
4      sunny        cool   normal  False
10     rainy        mild   normal   True