In [7]:
import pandas as pd

In [10]:
df1 = pd.read_csv("./실습데이터/사과나무in1.txt", sep="\t", engine='python', encoding='cp949')
df2 = pd.read_csv("./실습데이터/사과나무in2.txt", sep="\t", engine='python',encoding='cp949')

In [24]:
df1

                       7
0  74 10 31 26 59 16 89
1   78 44 49 1 64 33 15
2   9 95 70 18 22 25 40
3   62 77 28 3 78 75 23
4   82 38 20 16 42 1 79
5    1 24 2 25 95 26 79
6   4 35 46 94 70 44 83

In [14]:
f1 = open('./실습데이터/사과나무in1.txt', 'r')

In [18]:
test = f1.readline()

In [19]:
test

'74 10 31 26 59 16 89 \n'

In [20]:
type(test)

str

In [22]:
test.split(' ')
#str을 split시키면 list로 형변환됨

['74', '10', '31', '26', '59', '16', '89', '\n']

In [23]:
while f1.readline():
    test = f1.readline()
    print(test)

9 95 70 18 22 25 40

82 38 20 16 42 1 79

4 35 46 94 70 44 83

In [26]:
f1.close()

In [25]:
f = open('./실습데이터/사과나무in1.txt', 'r')
n = int(f.readline())

In [27]:
a = [list(map(int, f.readline().split())) for _ in range(n)]

In [28]:
a

[[74, 10, 31, 26, 59, 16, 89],
 [78, 44, 49, 1, 64, 33, 15],
 [9, 95, 70, 18, 22, 25, 40],
 [62, 77, 28, 3, 78, 75, 23],
 [82, 38, 20, 16, 42, 1, 79],
 [1, 24, 2, 25, 95, 26, 79],
 [4, 35, 46, 94, 70, 44, 83]]

In [30]:
26
49 1 64
95 70 18 22 25
62, 77, 28, 3, 78, 75, 23
38, 20, 16, 42, 1
2, 25, 95
94

SyntaxError: invalid syntax (<ipython-input-30-bceebf7f6b7b>, line 2)

In [50]:
N = int(input())

total = 0
l,r = 0,0

for i in range(N):
    mid = N // 2
    if i < mid:
        print(a[i][mid-l:mid+1+r])
        total += sum(a[i][mid-l:mid+1+r])
        l += 1
        r += 1
    elif i == mid:
        total += sum(a[i][:])
        print(a[i][:])
    else:
        l -= 1
        r -= 1
        total += sum(a[i][mid-l:mid+r+1])
        print(a[i][mid-l:mid+1+r])
print(total)

7
[26]
[49, 1, 64]
[95, 70, 18, 22, 25]
[62, 77, 28, 3, 78, 75, 23]
[38, 20, 16, 42, 1]
[2, 25, 95]
[94]
1049

In [52]:
#선생님 방법

sum = 0
s=e=n//2
for i in range(n):
    for j in range(s,e+1):
        sum += a[i][j]
    if i < n//2:
        s -= 1; e+= 1
    else:
        s += 1; e-=1
print(sum)

1049

In [53]:
f.close()