In [3]:
print("Hello, world! 김한주입니다.")

Hello, world! 김한주입니다.

In [29]:
# 변수들
ame = '김한주'
address = '경기도 용인시 기흥구 중동'
post = 16988
birth = 940829

#여기부터 출력
#print(name + " " +address + " " + post)
print(name)
print(address)
print(post)
print(name + address)
print(name , address , post)
print(post / birth + 50)

김한주
경기도 용인시 기흥구 중동
16988
김한주경기도 용인시 기흥구 중동
김한주 경기도 용인시 기흥구 중동 16988
50.01805641620316

In [28]:
name_type = type(name)
post_type = type(post)
print(name_type)
print(post_type)
print(type(birth))

<class 'str'>
<class 'int'>
<class 'int'>

In [37]:
my_name = input('이름을 입력해주세요.')

message = my_name + '님 환영합니다.'
print(message)

이름을 입력해주세요.김한주
김한주님 환영합니다.

In [8]:
num1 = input('첫번째 숫자를 입력해주세요: ')
num2 = input('두번째 숫자를 입력해주세요: ')

print(num1)
print(num2)
print(type(num1))
print(type(num2))
print(num1 + num2)

#int로 변환
print(int(num1) + int(num2))

첫번째 숫자를 입력해주세요: 10
두번째 숫자를 입력해주세요: 20
10
20
<class 'str'>
<class 'str'>
1020
30

In [18]:
str_age = input('나이를 입력해주세요: ')
age = int(str_age)

if age > 18:
    print('성인입니다.')
elif age > 15:
    print('15세 이상은 부모의 법적 동의가 필요합니다.')
else:
    print('15세 이하는 구매가 불가능합니다.')

나이를 입력해주세요: 19
성인입니다.

In [20]:
x = 10
a, b, c = 1, 2, 3
print(x, a, b, c)

10 1 2 3

In [22]:
x = None
print(x)
print(type(x))

None
<class 'NoneType'>

In [23]:
name = None # 먼저 만들어 두고 나중에 쓸지 말지 결정에 따라서 변경

In [32]:
x = input('x 값을 입력해주세요: ')
y = input('y 값을 입력해주세요: ')
#x = int(x)
#y = int(y)
print('결과: ' , int(x) + int(y))

# 다른 방법

x = int(input('x값을 입력해주세요: '))
y = int(input('y값을 입력해주세요: '))

print('결과: ' , x+y)

x 값을 입력해주세요: 20
y 값을 입력해주세요: 30
결과:  50
x값을 입력해주세요: 2030
y값을 입력해주세요: 2030
결과:  4060

In [37]:
# Boolean 형
True
False

#연산결과가 Boolean인 경우
print(3 > 1)
print(10 != 10)
print(type(10 == 10))

True
False
<class 'bool'>

In [42]:
age = 15
result = age > 18

print(age > 18)
print(result)
print(type(result))

if result == True:
    print('참입니다.')
else:
    print('거짓입니다.')

False
False
<class 'bool'>
거짓입니다.

In [50]:
address = '경기도 용인시 기흥구 중동'
addr_len = len(address)

if addr_len > 20:
    print('길이가 너무 깁니다.')
else:
    print(addr_len)

14

In [51]:
name = 'james lee'
name2 = 'JAMES LEE'

print(name.upper())
print(name2.lower())

print(address.replace('중동', '동백'))

JAMES LEE
james lee
경기도 용인시 기흥구 동백

In [64]:
message = '{0}님! 환영합니다.'.format('한주')
print(message)

message2 = '({0})님! 환영합니다.'.format('한주')
print(message2)

message3 = '{0}({1})님! 환영합니다.'.format('한주', 'schw240@gmail.com')
print(message3)

message4 = '{1}({0})님! 환영합니다.'.format('한주', 11)
print(message4)

한주님! 환영합니다.
(한주)님! 환영합니다.
한주(schw240@gmail.com)님! 환영합니다.
11(한주)님! 환영합니다.