In [19]:
import pandas as pd

In [20]:
df1 = pd.read_csv('201901-202003.csv')
df2 = pd.read_csv('202004.csv')
df1.head

<bound method NDFrame.head of           REG_YYMM CARD_SIDO_NM CARD_CCG_NM STD_CLSS_NM HOM_SIDO_NM  \
0           201901           강원         강릉시  건강보조식품 소매업          강원
1           201901           강원         강릉시  건강보조식품 소매업          강원
2           201901           강원         강릉시  건강보조식품 소매업          강원
3           201901           강원         강릉시  건강보조식품 소매업          강원
4           201901           강원         강릉시  건강보조식품 소매업          강원
...            ...          ...         ...         ...         ...
24697787    202003           충북         충주시    휴양콘도 운영업          충북
24697788    202003           충북         충주시    휴양콘도 운영업          충북
24697789    202003           충북         충주시    휴양콘도 운영업          충북
24697790    202003           충북         충주시    휴양콘도 운영업          충북
24697791    202003           충북         충주시    휴양콘도 운영업          충북

         HOM_CCG_NM  AGE  SEX_CTGO_CD  FLC  CSTMR_CNT      AMT  CNT
0               강릉시  20s            1    1          4   311200    4
1               강릉시  30s            1    2          7  1374500    8
2               강릉시  30s            2    2          6   818700    6
3               강릉시  40s            1    3          4  1717000    5
4               강릉시  40s            1    4          3  1047300    3
...             ...  ...          ...  ...        ...      ...  ...
24697787        충주시  30s            1    2          3    43300    4
24697788        충주시  40s            1    3          3    35000    3
24697789        충주시  50s            1    4          4   188000    6
24697790        충주시  50s            2    4          4    99000    6
24697791        충주시  60s            1    5          3   194000    3

[24697792 rows x 12 columns]>

In [21]:
df2.head

<bound method NDFrame.head of          REG_YYMM CARD_SIDO_NM CARD_CCG_NM STD_CLSS_NM HOM_SIDO_NM HOM_CCG_NM  \
0          202004           강원         강릉시  건강보조식품 소매업          강원        강릉시
1          202004           강원         강릉시  건강보조식품 소매업          강원        강릉시
2          202004           강원         강릉시  건강보조식품 소매업          강원        강릉시
3          202004           강원         강릉시  건강보조식품 소매업          강원        강릉시
4          202004           강원         강릉시  건강보조식품 소매업          강원        강릉시
...           ...          ...         ...         ...         ...        ...
1350317    202004           충북         충주시    휴양콘도 운영업          충북        충주시
1350318    202004           충북         충주시    휴양콘도 운영업          충북        충주시
1350319    202004           충북         충주시    휴양콘도 운영업          충북        충주시
1350320    202004           충북         충주시    휴양콘도 운영업          충북        충주시
1350321    202004           충북         충주시    휴양콘도 운영업          충북        충주시

         AGE  SEX_CTGO_CD  FLC  CSTMR_CNT      AMT  CNT
0        40s            1    3          3   779600    4
1        40s            2    3         14  2427700   15
2        50s            1    4         18  2184600   18
3        50s            2    4         21  3653100   23
4        60s            1    5         15  2765500   18
...      ...          ...  ...        ...      ...  ...
1350317  20s            1    1          5    77000    5
1350318  30s            1    2          6    92000    6
1350319  40s            2    3          5   193000    5
1350320  50s            1    4          5    86000    7
1350321  60s            2    5          3   227000    4

[1350322 rows x 12 columns]>

In [22]:
df1 = df1.append(df2, ignore_index=True)

In [24]:
df1.tail()

,REG_YYMM,CARD_SIDO_NM,CARD_CCG_NM,STD_CLSS_NM,HOM_SIDO_NM,HOM_CCG_NM,AGE,SEX_CTGO_CD,FLC,CSTMR_CNT,AMT,CNT
26048109,202004,충북,충주시,휴양콘도 운영업,충북,충주시,20s,1,1,5,77000,5
26048110,202004,충북,충주시,휴양콘도 운영업,충북,충주시,30s,1,2,6,92000,6
26048111,202004,충북,충주시,휴양콘도 운영업,충북,충주시,40s,2,3,5,193000,5
26048112,202004,충북,충주시,휴양콘도 운영업,충북,충주시,50s,1,4,5,86000,7
26048113,202004,충북,충주시,휴양콘도 운영업,충북,충주시,60s,2,5,3,227000,4

In [25]:
df1.to_csv("전체 데이터.csv", header=False, index=False)

In [31]:
df2 = df1[(df1['HOM_SIDO_NM']=="서울")]

In [32]:
df3 = df2[(df2['HOM_SIDO_NM']=="서울")]

In [36]:
df3.to_csv("서울_서울total.csv", header=False, index=False)

In [37]:
df3.columns = ['연월','카드이용_시도','카드이용_시군구','업종명','고객거주_시도','고객거주_시군구','연령대','성별','가구생애주기','이용고객수','이용금액','이용건수']

In [39]:
df3.to_csv("서울_서울total2.csv", header=False, index=False, encoding='utf8')

In [40]:
df3.head()

,연월,카드이용_시도,카드이용_시군구,업종명,고객거주_시도,고객거주_시군구,연령대,성별,가구생애주기,이용고객수,이용금액,이용건수
821073,201901,서울,강남구,건강보조식품 소매업,서울,강남구,20s,1,1,13,293800,15
821074,201901,서울,강남구,건강보조식품 소매업,서울,강남구,20s,2,1,9,353600,10
821075,201901,서울,강남구,건강보조식품 소매업,서울,강남구,30s,1,2,29,6465110,34
821076,201901,서울,강남구,건강보조식품 소매업,서울,강남구,30s,2,1,13,1337800,13
821077,201901,서울,강남구,건강보조식품 소매업,서울,강남구,30s,2,2,41,5043170,50

In [42]:
df3.columns = ['REG_YYMM','CARD_SIDO_NM','CARD_CCG_NM','STD_CLSS_NM','HOM_SIDO_NM	','HOM_CCG_NM','AGE','SEX_CTGO_CD','FLC','CSTMR_CNT','AMT','CNT']

In [45]:
df3.to_csv("서울_서울total3.csv", header=False, index=False, encoding='utf8')